<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
    <div class="container" style="padding-left: 10px; max-width: 1000px;">
        <a class="navbar-brand" th:href="@{/}">Mainfo</a>
        <<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/rank/list}">랭킹</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/cube" aria-disabled="true">큐브</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">개발중</a>
                </li>
            </ul>
            <form class="d-flex" th:action="@{/info}">
                <input class="form-control me-2" type="search" th:name="username"
                       placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>